/* generals */
body{
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

/* header */
header{
    background-color: #d8d8d8;
    color: #12151f;
    height: 10vh;
}

.ms_genres-container > h3{
    padding-bottom: 2px;
}

.ms_genres-container a:hover{
    text-decoration: underline;
}

.ms_icon-container{
    font-size: 20px;
}

/* main */
main{
    background-color: #12151f;
    color: #05f4b7;
    height: 80vh;
    position: relative;
}

main > div{
    height: 100%;
    background-color: #12151f;
}

.ms_one-of-five-cols{
    width: 20%;
}

.ms_img-container img{
    width: 125px;
    height: 125px;
    border-radius: 50%;
    opacity: 0.7;
}

.ms_img-container img:hover{
    opacity: 1;
}

/* footer */
footer{
    background-color: #d8d8d8;
    color: #12151f;
    height: 10vh;
    line-height: 5vh;
}

/* positioned with d-none */
/* .ms_lyrics-container{
    position: absolute;
    top: 0;
    height: 80vh;
    width: 300px;
    background-color: #d8d8d8;
    color: #12151f;
    display: none;
}

.ms_non-trad{
    left: 0;
}

.ms_trad{
    right: 0;
} */